/* General Layout */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Navbar */
.navbar {
    padding: 15px;
}

/* Main Content */
.container h1 {
    margin-bottom: 20px;
}

/* Chatbot Icon */
.chatbot-icon {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1000;
}

.chatbot-icon img, .chatbot-icon-img, .user-icon-img{
    border-radius: 50%;
    padding: 3px;
    box-shadow: 1px 2px -10px 20px gray;
    background-size: 130% 130%;
    background-position: 0 100;
}
/* Chatbot Popup */
.chatbot-popup {
    display: none;  /* Hidden by default */
    position: fixed;
    bottom: 80px;
    right: 30px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Chatbot Header */
.chatbot-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* Chatbot Body */
.chatbot-body {
    background: #f3f3f6;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 350px;
    overflow-y: auto;
}
.chatbot-chat{
    background: white;
    text-align: left;
    display: flex;
    align-items: start;
    justify-content: left;
    padding: 10px;
    gap: 10px;
}
.user-chat{
    background: white;
    width : 100%;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: start;
    flex-direction: row-reverse;
    padding: 10px;
    gap: 10px;
}
.chatbot-menu{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.chatbot-menu button{
    border: 3px solid blue;
    background: white;
    font-weight: 600;
    border-radius: 5px;

}
/* Chatbot Footer */
.chatbot-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chatbot-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chatbot-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

